/* Reset some default styles */
body, h1, h2, p, ul, li, table, th, td {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 20px;
}

#quote {
    font-style: italic;
    margin-top: 10px;
}

nav {
    background-color: #333;
    color: white;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 5px 10px; 
}

nav a.selected {
    background-color: #4a4b4a;
    border-radius: 5in; 
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

section {
    margin-bottom: 20px;
    padding: 10px;
}

#overview {
    border-top: 2px solid #4CAF50;
}

.event-card, .contact-card {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

#volunteer-schedule table {
    width: 100%;
    border-collapse: collapse;
}

#volunteer-schedule th, #volunteer-schedule td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}
