/* Reset some default styles */
body, h1, h2, p, ul, li, form, textarea, input, button {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 20px;
}

#quote {
    font-style: italic;
    margin-top: 10px;
}

nav {
    background-color: #333;
    color: white;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 3px 25px;
}

nav a.selected {
    background-color: #697669;
    border-radius: 0.5mm; 
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

section {
    margin-bottom: 20px;
    padding: 10px;
}

#overview {
    border-top: 2px solid #4CAF50;
}

#discussion-form {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 20px;
}

#message {
    width: 100%;
    height: 100px;
    resize: vertical;
    margin-bottom: 10px;
}

#attachment {
    margin-bottom: 10px;
}

.warning {
    font-style: italic;
    color: #FF0000;
    margin-bottom: 10px;
}

#discussion-form button {
    background-color: #9d9e9d;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}
#chat-access {
    position: relative;
    background: rgba(255, 255, 255, 0.8); /* Add a semi-transparent white background */
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 20px;
    text-align: center;
}



#lock-message {
    font-style: italic;
    color: #333;
}

#lock-message a {
    color: #4CAF50;
}

#lock-message a:hover {
    text-decoration: underline;
}


